/*CSS FOR All Forms*/
*{font-family:times new roman; }
body{
	background: black;
}
.btn,input[type='text'],input[type='password']{border-radius:0px;}


/*CSS FOR LOGIN PAGE*/
.login-form{
	margin:40% 0%; border:1px solid #3276B1; padding-top:5%;padding-bottom:5%;
	padding-left:4%; padding-right:4%; border-radius:0.5%; 
}
.user-icon{
	text-align:center; font-size:2em; color:#3276B1;
}
.left-line{ background:linear-gradient(to left, #3276B1, #d7d7d7); padding:1px 30px; height:2px; font-size:1px; }
.right-line{ background:linear-gradient(to right, #3276B1, #d7d7d7);; padding:1px 30px; height:2px; font-size:1px; }


#logo{
	font-size:500%; color:#0F4C91;
}
.active-menu{ color:black; opacity:0.5; text-decoration: none;}
.active-menu:hover{ color:black; opacity:0.7; }

body,html{
    height: 100%;
  }

  nav.sidebar, .main{
    -webkit-transition: margin 200ms ease-out;
      -moz-transition: margin 200ms ease-out;
      -o-transition: margin 200ms ease-out;
      transition: margin 200ms ease-out;
  }

  .main{
    padding: 10px 10px 0 10px;
  }

 @media (min-width: 765px) {

    .main{
      position: absolute;
      width: calc(100% - 40px); 
      margin-left: 40px;
      float: right;
    }

    nav.sidebar:hover + .main{
      margin-left: 200px;
    }

    nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
      margin-left: 0px;
    }

    nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
      text-align: center;
      width: 100%;
      margin-left: 0px;
    }
    
    nav.sidebar a{
      padding-right: 13px;
    }

    nav.sidebar .navbar-nav > li:first-child{
      border-top: 1px #e5e5e5 solid;
    }

    nav.sidebar .navbar-nav > li{
      border-bottom: 1px #e5e5e5 solid;
    }

    nav.sidebar .navbar-nav .open .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
      padding: 0 0px 0 0px;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
      color: #777;
    }

    nav.sidebar{
      width: 100%;
      height: 100%;
      margin-left: -160px;
      float: left;
      margin-bottom: 0px;
    }

    nav.sidebar li {
      width: 100%;
    }

    nav.sidebar:hover{
      margin-left: 0px;
    }

    .forAnimate{
      opacity: 0;
    }
  }
   
  @media (min-width: 1330px) {

    .main{
      width: calc(100% - 200px);
      margin-left: 200px;
    }

    nav.sidebar{
      margin-left: 0px;
      float: left;
    }

    nav.sidebar .forAnimate{
      opacity: 1;
    }
  }

  nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #CCC;
    background-color: transparent;
  }

  nav:hover .forAnimate{
    opacity: 1;
  }
  section{
    padding-left: 15px;
  }

/*Content field styles.*/
.top-menu{
	font-size:1em; text-align: right; 
  padding:1% 2%; 
  
  background: -o-linear-gradient(left, rgba(0,0,0,0.9), #0F4C91); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(left, rgba(0,0,0,0.9), #0F4C91); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to left, rgba(0,0,0,0.9) , #0F4C91); /* Standard syntax */
}
.content{
  padding:1%; min-height: 570px;
  background: white;
  /*background: -o-linear-gradient(left, rgba(0,0,0,0.9), #d7d7d7); /* For Opera 11.1 to 12.0 */
  /*background: -moz-linear-gradient(left, rgba(0,0,0,0.9), #d7d7d7); /* For Firefox 3.6 to 15 */
  /*background: linear-gradient(to left, rgba(0,0,0,0.9) , #d7d7d7); /* Standard syntax */

}
.add-btn{
  padding:1%;
}
.top-menu{
  color:white; font-weight: bold; 
}
.table{
  width:100%;
  background: white;
}
.table th{
  background: #0F4C91; color:white;
}

.table td{ text-align:center; }


